<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discipline App - Help manage and track children's discipline">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{app.title}">Discipline App</title>
    
    <!-- Common CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    
    <!-- Common JavaScript -->
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer></script>
    
    <!-- Page specific resources -->
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
    <!-- Header -->
    <header th:replace="~{fragments/header :: header}">Header</header>

    <!-- Main Content -->
    <main class="flex-grow">
        <!-- Alert Messages -->
        <div th:replace="~{fragments/alerts :: alerts}"></div>
        
        <!-- Page Content -->
        <div layout:fragment="content">
            Page content goes here
        </div>
    </main>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}">Footer</footer>
</body>
</html> 